:root {
  --gap-quarter: 0.25rem;
  --gap-half: 0.5rem;
  --gap-three-q: 0.75rem;
  --gap: 1rem;
  --gap-double: 2rem;
  --small-gap: 2rem;
  --big-gap: 4rem;
  --main-content: 48rem;
  --radius: 8px;
  --inline-radius: 5px;
  --header-height: 2rem;

    /* Typography */
  --font-sans: var(--font-geist-sans), -apple-system, BlinkMacSystemFont, 'Roboto',
    'Helvetica Neue', sans-serif;
  --font-mono: var(--font-geist-mono), 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    monospace;

      /* Transitions */
  --transition: 0.1s ease-in-out;
  --transition-slow: 0.3s ease-in-out;

    /* Dark Mode Colors */
  --bg: hsl(0, 0%, 7%);
  --bg-alpha: hsla(0, 0%, 7%, 0.9);
  --fg: #fafbfc;
  --gray: #999;
  --light-gray: #444;
  --lighter-gray: #222;
  --lightest-gray: #1a1a1a;
  --article-color: #eaeaea;
  --gray-alpha: rgba(255, 255, 255, 0.5);
  --selection: rgba(255, 255, 255, 0.88);
  --link: #579dff;
  --green: #2ecc71;
  --red: #e74c3c;

    /* Fading */
  --timing: 0.3s;
  --fade-in: var(--timing) ease-in-out;
}

[data-theme='light'] {
  --bg: #fff;
  --bg-alpha: hsla(0, 0%, 100%, 0.9);
  --fg: #444;
  --gray: rgb(100, 100, 100);
  --light-gray: rgb(222, 222, 222);
  --lighter-gray: rgb(240, 240, 240);
  --lightest-gray: rgb(245, 245, 245);
  --article-color: #212121;
  --header-bg: rgba(255, 255, 255, 0.8);
  --gray-alpha: rgba(19, 20, 21, 0.5);
  --selection: rgba(0, 0, 0, 0.99);
  --link: #6669ff;

  --token: #666;
  --comment: #999;
  --keyword: #000;
  --name: #333;
  --highlight: #eaeaea;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background: var(--bg);
  color: var(--fg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 110%;
  font-size: 16px;
  line-height: 1.55em;
}

body {
  min-height: 100vh;
  font-family: var(--font-sans);
  display: flex;
  flex-direction: column;
  position: relative;
}

p,
li {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sans);
  font-weight: 600;
  line-height: 1.25;
}

h1 {
  font-size: 2.3rem;
  font-weight: 600;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.15rem;
}

hr {
  border: none;
  border-bottom: 1px solid var(--light-gray);
}

blockquote {
  font-style: italic;
  margin: 0;
  padding-left: 1rem;
  border-left: 3px solid var(--light-gray);
}

button {
  border: none;
  padding: 0;
  margin: 0;
  line-height: inherit;
  font-size: inherit;
}

p a,
article a,
a.reset {
  outline: none;
  color: var(--link);
  text-decoration: none;
  transition: background-color var(--transition), color var(--transition);
}

p {
  text-align: left;
}

p a:hover,
article a:hover,
a.reset:hover {
  color: var(--link);
}

pre,
code {
  font-family: var(--font-mono);
}